<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script>
    const ROOM_ID = "<%= roomId %>"
  </script>
 


  <script defer src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="./script.js"type="text/javascript" defer></script>
  <!-- <script src="main.js" defer></script> -->
  <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/emoji-button@latest/dist/index.min.js"></script>
  <style>
    /* *{
            overflow: auto;
            box-sizing: border-box;
          } */
    body {
      margin: 0;

    }

    #video-grid {

      display: grid;
      grid-template-columns: repeat(auto-fill, 310px);
      grid-auto-rows: 310px;
      column-gap: 30px;

      row-gap: 20px;
      margin: 10px;
      padding-top: 30px;
      padding: 30px;
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    label {
      position: absolute;
      width: 45px;
      height: 22px;
      right: 20px;
      top: 20px;
      border: 2px solid;
      border-radius: 20px;
    }

    label:before {
      position: absolute;
      content: '';
      width: 20px;
      height: 20px;
      left: 1px;
      top: 1px;
      border-radius: 50%;
      background: #000;
      cursor: pointer;
      transition: 0.4s;
    }

    label.active:before {
      left: 24px;
      background: #fff;
    }

    body.night {
      background: #000;
      color: #fff;
    }

    .main {
      height: 100vh;
      width: 100vw;
      display: flex;
      /* background-color: black; */

    }

    .left {
      height: 100%;
      width: 100%;
    }

    #right {
      width: 20%;
      height: 83.6%;
      /* background-color: tomato; */
      position: absolute;
      top: 6.5%;
      right: 0%;
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
      border-top-right-radius: 20px;
      display: none;
      border: 4px solid gray
    }

    #Bottom {
      width: 100%;
      height: 9%;
      background-color: black;
      position: absolute;
      bottom: 0%;
      overflow: hidden;
      display: flex;
      align-items: center;

    }


    #end {


      display: flex;
      justify-content: flex-end;
      position: absolute;
      right: 0%;
      align-items: center;
      /* margin-top: -20px; */

    }



    .chat {
      color: black;
      /* min-height: 30px; */
      /* border-radius: 10px; */
      padding: 13px;


      clear: both;
      /* margin-left: 5px; */
      word-break: break-all;
      font-size: 1.15rem;
    
      border-radius: 50px;
      margin-top: 10px;
   

    }

    .right-div {
      /* background: #9b59b6; */
      display: flex;
      align-items: center;
      float: right;
   
      margin-top: 5px;
    }

    .left-div {
      /* background: #9b59b6; */
      display: flex;
      align-items: center;
      justify-content: flex-start;
    
      margin-top: 5px;
    }

    #Audio-video {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      width: 33%;
      height: 100%;


      /* overflow: auto; */


    }

    .Stop-video {
      display: flex;
      flex-direction: column-reverse;
      color: #fff;
      font-size: 36px;
      align-items: center;
      padding: 15px;
      opacity: 0.8;
      cursor: pointer;
    }

    .Stop-audio {
      display: flex;
      flex-direction: column-reverse;

      color: #fff;
      font-size: 36px;
      align-items: center;
      padding: 20px;
      opacity: 0.8;
      cursor: pointer;
    }

    .Stop-audio:hover {
      background-color: rgb(121, 115, 115);
      opacity: 1;




      transition: all 0.4s ease 0s;
      cursor: pointer;
      border-radius: 10px;
    }

    .Stop-video:hover {
      background-color: rgb(121, 115, 115);
      opacity: 1;


      transition: all 0.4s ease 0s;
      cursor: pointer;
      border-radius: 10px;
    }

    .Stop-audio i {

      margin-left: 2px;
    }

    .recording {

      height: 1%;
      width: 1%;
      position: absolute;
      top: 0%;
      left: 0%;
    }

    .inside-stop {
      position: absolute;
      margin-left: 8px;
      margin-top: -7px;
    }

    .hide {
      display: none;
    }

    .Stop {

      font-size: 0.8rem;

    }
    .Stop-div{
      
font-size: 0.8rem;
margin-left: -10px;

}

    .Stop-Audio {

      font-size: 0.8rem;
      cursor: pointer;


    }

    #middle {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 33%;
      height: 100%;

    }

    #chat-btn {

      display: flex;
      flex-direction: column-reverse;

      color: #fff;
      font-size: 33px;
      align-items: center;
      padding: 15px;
      opacity: 0.8;
      cursor: pointer;
      border-radius: 10px;
    }

    #chat-btn:hover {

      background-color: rgb(121, 115, 115);

      opacity: 1;
      transition: all 0.4s ease 0s;
      cursor: pointer;

      border-radius: 10px;
    }

    #end {


      display: flex;
      justify-content: flex-end;
      /* position: absolute; */

      align-items: center;
      /* margin-top: -20px; */
      width: 34%;
      height: 100%;
      /* left: 5%; */
    }

    .recordButtononClick {

      display: flex;


      color: tomato;
      font-size: 10px;
      align-items: center;
      padding: 15px;
      opacity: 0.8;
      cursor: pointer;

    }

    .Leave-Btn {
      width: 15%;
      height: 50%;
      background-color: tomato;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      cursor: pointer;
      color: #fff;

    }

    .Share-Screen {
      display: flex;
      flex-direction: column-reverse;

      color: rgb(170, 255, 0);
      font-size: 33px;
      align-items: center;
      padding: 15px;
      opacity: 0.8;
      cursor: pointer;
    }

    .recordButton {
      display: flex;
      flex-direction: column-reverse;

      color: #fff;
      font-size: 33px;
      align-items: center;
      padding: 15px;
      opacity: 0.8;
      cursor: pointer;

    }
    .copy{
      display: flex;
      flex-direction: column-reverse;
     
      color: #fff;
      font-size: 33px;
      align-items: center;
      padding: 15px;
      opacity: 0.8;
      
      cursor: pointer;
    }
    .copy:hover{
      background-color: rgb(121, 115, 115);

    opacity: 1;
    transition: all 0.4s ease 0s;
    cursor: pointer;
    border-radius: 10px;
    }
    .chat-input-box{
      height: 5%;
      width: 100%;
    }
    .Share-Screen:hover {
      background-color: rgb(121, 115, 115);

      opacity: 1;
      transition: all 0.4s ease 0s;
      cursor: pointer;
      border-radius: 10px;
    }

    .recordButton:hover {
      background-color: rgb(121, 115, 115);

      opacity: 1;
      transition: all 0.4s ease 0s;
      cursor: pointer;
      border-radius: 10px;
    }
    .chat-input{

position: absolute;
bottom: 2.9%;
height: 2.3%;
width: 70%;
/* display: flex;
    justify-content: center;
    align-items: center; */
border-radius: 50px;
left: 11%;
outline: none;
border: none;
font-size: 1rem;
padding: 10px;
background-color: lightgrey;


}
.text i{
  position: absolute;
  bottom: 3.9%;
  left: 2.6%;
 /* background: bisque; */
  /* font-size: 35px; */
  margin-top: -20px;
  font-size: 24px;
  height: 25px;
  width: 80px;
}

  .participant-div{
    display: flex;
      flex-direction: column-reverse;
     
      color: #fff;
      font-size: 26px;
      align-items: center;
      padding: 15px;
      opacity: 0.8;
      margin-top: 10px;
      
      cursor: pointer;
  }
  .Number{

    display: flex;
    position: absolute;
    top: 0%;
    font-size: 1rem;
    opacity: 0.8;
  }
  .list{

    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
  }
  .Number2{

    display: flex;
    position: absolute;
    top: 0%;
    font-size: 1.1rem;
    left: 58%;
    opacity: 1;
  }
  </style>
</head>

<body>
  <header>
    <label id="dark-change"></label>
  </header>
  <div class="main">
    <input id="idurl"   style="display: none;"/>
    <input type="text" value="Hello World" id="myInput" style="position: absolute; top: -9999px; left: -9999px;" >

    <div class="left">
      <div class="recording"></div>
      <div id="video-grid"></div>
      

      <div id="Bottom">





        <div id="Audio-video">

          <div class="Stop-audio">
            <span class="Stop">Mute</span>
            <i class="fas fa-microphone"></i>
          </div>



          <div class="Stop-video">
            <span class="Stop">Stop Video</span>
            <i class="fas fa-video"></i>
          </div>

        </div>


        <div id="middle">
          <div id="chat-btn">
            <span class="Stop">chat</span>
            <i class="fas fa-comment-alt"></i>

          </div>

          <div class="Share-Screen">
            <span class="Stop">Share Screen</span>
            <i class="fas fa-share-alt-square"></i>
          </div>

          <div class="recordButton">
            <span class="Stop">Record</span>
            <i class="fas fa-record-vinyl"></i>
          </div>
          <div class="copy">
            <span class="Stop-div">Invite</span>
            <i class="fas fa-user-plus"></i>
          </div>
        </div>
        <div id="end">
          <div class="Leave-Btn">Leave </div>

        </div>
      </div>



    </div>
    <div id="right">

      <div>
        <h3 style="text-align: center;"> In-call messages</h3>
      </div>
      <!-- <div class="chat-window">
      </div> -->
      <div class="chat-input-box">
        <div class="text">
          <i class="far fa-grin"></i>
        </div>
        <input type="text" class="chat-input" placeholder="Send a message to everyone">
      </div>
    </div>
  </div>
  </div>
  </div>
  <script>
    var input=document.querySelector(".chat-input");
    var input1=document.querySelector(".text i");
    var picker=new EmojiButton({

        position:'auto'
    })
    picker.on('emoji',function(emoji){
        input.value+=emoji;
    })
    input1.addEventListener("click",function(){
        picker.pickerVisible ? picker.hidePicker():picker.showPicker(input);
    })

</script>
  
</body>

</html>